<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    a   {
        margin-top: 240px;
        width: 300px;
        height: 50px;
    }

    h1  {
        font-family: "Baskerville Old Face";
        font-size: 80px;
        text-align: center;
        border: 1px solid black;
        margin-top: 100px;
        background-color: black;
        color: white;
    }
</style>
<body>
<h1>Welcome to Online Job Portal</h1>
<center>
    <a href="registration" class="btn btn-primary">Register Here </a> &nbsp &nbsp
<a href="login" class="btn btn-primary">Login Here</a>
</center>
</body>
</html>