<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .jumbotron{
        margin-top: 170px;
    }
    h1  {
        font-size: 30px;
        color: red;
        font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    }
</style>
<body>

      <div class="jumbotron text-center">
  <h1 class="display-4">Online Job Portal</h1><br>
  <a class="btn btn-primary btn-lg" href="banglore" role="button">Banglore</a> &nbsp;
  <a class="btn btn-primary btn-lg" href="hyderabad" role="button">Hyderabad</a> &nbsp;
  <a class="btn btn-primary btn-lg" href="pune" role="button">Pune</a> &nbsp;
  <a class="btn btn-primary btn-lg" href="chennai" role="button">Chennai</a> &nbsp;
</div>
</div>
</body>
</html>