<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        background-color: aquamarine;
        font-family: "Baskerville Old Face";
        font-size: 20px;
    }
 #login {
     margin-left: 480px;
     margin-top: 150px;

 }
 h2     {
     font-size: 40px;
     font-family: "Baskerville Old Face";
     border: 1px solid black;
     width: 250px;
     text-align: center;
     margin-top: 15px;
     color: white;
     background-color: black;
     border-bottom-left-radius: 15px;
     border-top-right-radius: 15px;
 }

</style>
<body>
<center><h2>Login Here</h2></center>
<form method="post" id="login">
    {% csrf_token %}
    <table>
        <tr>
            <td><label> Enter Your User Name</label></td>
            <td><input type="text" name="username" placeholder="Username"></td>
        </tr>
        <tr>
            <td><label>Enter Your Password</label></td>
            <td><input type="password" name="password" placeholder="Password"></td>
        </tr>
        <tr>
            <td style="text-align: center"><input type="submit"value="submit" class="btn btn-success" onclick="alert('Are you sure ??')"></td>
            <td style="text-align: center"><input type="reset" value="reset" class="btn btn-danger"></td>
        </tr>
    </table>
</form>
<br>
<center><a href="/#/">Go Back</a></center>
</body>
</html>